@page "/"

@inject Head head

<h1>Hello, world!</h1>

Welcome to your new app.


@code{
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(()=> {
            head.Title = "Home";
            head.Description = "wcoder.com, enter, kingreatwill";
        });
    }
}
