<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
            <b class="mr-1">Blog</b> Admin
            <span class="navbar-logo">
                <span class="text-blue">S</span>
                <span class="text-red">h</span>
                <span class="text-orange">a</span>
                <span class="text-blue">m</span>
                <span class="text-green">p</span>
                <span class="text-red">e</span>
                <span class="text-green">d</span>
            </span>
        </a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->
    <!-- begin header-nav -->
    <ul class="navbar-nav d-flex flex-grow-1">
        <li class="navbar-form flex-grow-1">
            <form action="" method="POST" name="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder='Try searching "Users Today"' />
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </li>


    </ul>
    <!-- end header-nav -->
</div>
<!-- end #header -->
