@inherits LayoutComponentBase
<!-- begin #page-loader -->
<div id="page-loader" class="fade show">
    <span class="spinner"></span>
</div>
<!-- end #page-loader -->
<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar page-with-light-sidebar">
    <!-- begin #header -->
    <Header />
    <!-- end #header -->
    <!-- begin #sidebar -->
    <Sidebar />
    <!-- end #sidebar -->
    <!-- begin #content -->
    <div id="content" class="content">
        @Body
    </div>
    <!-- end #content -->
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->    
</div>
<!-- end page container -->
