#inbox {
    position: absolute;
    top: 22px;
    right: 170px;
    display: block;
    background: #f00;
    line-height: 21px;
    font-weight: 500;
    color: #fff;
    padding: 0;
    min-width: 20px;
    height: 20px;
    font-size: 12px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
